@model IEnumerable<ChamadosTI.Models.Modelo.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maquinaUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.setorUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maquinaUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.setorUsuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
